* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

body {
  background-color: #505257;
}

.container {
  width: 1200px;
  margin: 30px auto;
}

.wrapper {
  display: flex;
}

.side-panel {
  width: 33%;
  background: linear-gradient(90deg, rgba(40, 40, 40) 0%, rgba(40, 40, 40) 100%);
  color: #f2f2f2;
}

.avatar {
  display: block;
  width: 70%;
  margin: 15% auto;
  border-radius: 8px;
}

.aside-section {
  margin-bottom: 15%;
}

.aside-header {
  padding-bottom: 5%;
  border-bottom: 1px solid #f2f2f2;
  margin-left: 15%;
  color: #db7343;
}

.side-panel li {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 15%;
  list-style-position: inside;
  list-style-type: none;
}

.contact-icon {
  margin-right: 5%;
}

.hard-skills li {
  list-style-type: none;
}

.meter {
  width: 50%;
  height: 10px;
  margin-top: 3%;
  background-color: #db7343;
}

.meter::before {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #f2f2f2;
  content: '';
}

.main-content {
  width: 67%;
  background-color: #fff;
  color: #464646;
}

header {
  margin: 60px;
}

.main-section {
  margin: 0 60px 20px 60px;
}

.main-header {
  padding-bottom: 3%;
  border-bottom: 1px solid #000;
  margin-bottom: 3%;
  color: #db7343;
}

.icon {
  margin-right: 5%;
  font-size: 1.5em;
}

.main-block li {
  margin-top: 3%;
  list-style-position: inside;
}

.main-list li {
  list-style-type: none;
}

.code-example {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(90deg, #db7343 0%, #db7343 100%);
  color: #000;
}

.rss-logo {
  display: block;
  width: 100px;
  height: 50px;
  background: url('../img/rs.png') center no-repeat;
  background-size: contain;
}

.my-github-link {
  text-align: center;
  text-decoration: none;
}

.my-github-link:visited {
  color: #000;
}
